@import "./src/components/modulesScss/variables";
.log-in button{
    width: 130px;
}
.log-in{
    padding-top: 10%;
}
.icon-account{
    @include size(30px, 30px);
    color: $icon-color;
    margin-right: 5px;
}