.footer{
    background-color: var(--white);
    width: 100%;
    box-shadow: 0px -16px 20px -5px rgba(0,0,0,0.1);
    padding: 0 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .header__logo img{
    width: 30px;
    height: 25px;
}
.footer .header__logo p{
    font-size: 20px;
}
.footer__social-networks{
    display: flex;
    justify-content: space-between;
}
.footer__social-networks > a{
    margin-left: 10px;
}
.footer__social-networks svg{
    width: 25px;
    height: 25px;
}
.footer__social-networks p,
.footer .header__menu p,
.text-about-creator p,
.text-about-creator p a{
    color: var(--grey);
    font-size: 16px;
    font-weight: 600;
}
.text-about-creator p a{
    text-decoration: none;
}
.text-about-creator p a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1200px){
    .footer{
        height: 200px;
        padding: 0 20px;
        flex-direction: column;
    }
    .footer div{
        margin-top: 15px;
    }
    .text-about-creator p{
        margin-bottom: 15px;
    }
    .footer .header__menu a:nth-child(3) {
        margin-right: 0;
    }
}