@import "../../modulesScss/variables";
.comment{
  margin-bottom: 15px;
  display: flex;
  position: relative;
}
.comment__icon-block{
  min-width: 30px;
}

.comment__icon{
  color: $dark-grey;
  @include size(25px, 25px);
}
.comment__nick-name{
  font-size: 16px;
  font-weight: bold;
  color: $dark-grey;
  display: block;
  margin-bottom: 3px;
}
.comment__comment-text{
  font-size: 15px;
}
.comment__response-text{
  font-size: 13px;
  margin-top: 10px;
  color: $green;
}
.comment__content{
  min-width: calc(100% - 30px);
  background-color: #e7e6e6;
  border-radius: 20px;
  padding: 15px;
}
.comment__response-text:hover{
  text-decoration: underline;
  cursor: pointer;
}
