@import "../modulesScss/variables";

.side-bar{
    width: 300px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $grey-disabled;
    min-height: calc(100vh - 140px);
}
.side-bar__links-menu{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: $main-color;
    cursor: pointer;
}
.side-bar__links-menu:hover{
    text-decoration: underline;
}