$white: white;
$main-dark: #021412;
$border-grey: #D4D4D8;
$icon-color: #021412;
$red-error: rgba(196, 2, 2, 0.76);
$red-error-hover: rgba(236, 66, 62, 0.71);
$line-value: rgba(231, 161, 105, 0.47);
$text-answer: rgba(68, 25, 143, 0.89);
$main-blue: rgba(5, 32, 134, 0.82);
$hover_blue: rgb(3, 26, 110);
$grey-disabled: #d3d3d3;
$grey: grey;
$green: #009a00;
$green-hover: #016e01;

///////////////////////////////////////////

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin place-center {
  display: flex;
  align-items: center;
}

@mixin all-padding {
  padding: 0 100px;
}

@mixin button-basic {
  font-size: 16px;
  cursor: pointer;
  transition: ease-out 0.3s;
  border-radius: 10px;
}