$white: white;
$main-color: rgba(35, 67, 157, 0.89);
$grey-disabled: #d3d3d3;
$grey: grey;
$red-error: rgba(196, 2, 2, 0.76);
$icon-color: rgba(236, 66, 62, 0.78);
$green: #009a00;
$hover_blue: rgba(35, 67, 157, 0.59);
$green-hover: #018101;
$line-value: rgba(236, 66, 62, 0.49);
$red-error-hover: rgba(236, 66, 62, 0.71);
$text-answer: rgb(122, 54, 112);


@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin place-center {
  display: flex;
  align-items: center;
}

@mixin all-padding {
  padding: 0 100px;
}

@mixin button-basic {
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1px;
  transition: ease-out 0.2s;
}