$white: #ffffff;
$main-color: rgb(8, 39, 119);
$main-hover-blue: rgb(8, 39, 119, 0.8);
$main-hover-grey: #d3d3d3;
$shadow: 0px 16px 20px -5px rgba(0, 0, 0, 0.1);
$grey: grey;
$red-error: red;
$main-icon: #ef0a85;


@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin place-center {
  display: flex;
  align-items: center;
}

@mixin all-padding {
  padding: 0 100px;
}

@mixin button-basic{
  border-radius: 40px;
  border: none;
  background-color: rgba(231, 228, 228, 0);
  font-size: 16px;
  font-weight: 600;
  color: $main-color;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 10px;
}