@import "./src/components/modulesScss/variables";
@import "./src/components/FormRegistration/FormRegistration";
.basic-select{
  @extend .input-color-blue;
  border-radius: 5px;
}
.form-add-poll{
  @extend .basic-form;
  padding-bottom: 40px;
}
.form-add-poll form{
  width: auto;
  @include place-center;
  flex-direction: column;
}
.item-text{
  font-size: 18px;
  color: $main-dark;;
  margin-bottom: 16px;
}
.textarea-basic{
  @extend .input-color-blue;
  border-radius: 5px;
  padding: 15px;
  transition: none;
  max-width: 500px;
  max-height: 200px;
}
.textarea-question{
  @extend .textarea-basic;
  @include size(300px, 90px);
}
.textarea-answer{
  @extend .textarea-basic;
  @include size(300px, 70px);
}
.answers{
  @include place-center;
  flex-direction: column;
}
.button-answer{
  @include button-basic;
  @include size(90px, 25px);
  background-color: $main-blue;
  color: $white;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
}
.button-answer:hover{
  background-color: $hover_blue;
}
.block-answer p {
  margin-right: 5px;
}
.buttons-answer{
  width: 70%;
  display: flex;
  justify-content: space-around;
}