@import "./src/components/modulesScss/variables";
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.content{
    min-height: calc(100vh - 160px);
    @include all-padding;
}
.error{
    color: red;
    margin-bottom: 10px;
    font-size: 15px;
}
@media screen and (max-width: 768px){
    .content{
        padding: 0 15px;
        min-height: calc(100vh - 200px);
    }
}