@import "./src/components/modulesScss/variables";
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.content{
    min-height: calc(100vh - 140px);
    @include all-padding;
}
.error{
    color: red;
    font-size: 16px;
    margin-top: 10px;
}
@media screen and (max-width: 768px){
    .content{
        padding: 0 15px;
        min-height: calc(100vh - 200px);
    }
}