@import "../../modulesScss/variables";
.burger-menu{
  background-color: $white;
  position: fixed;
  @include size(50%, 100vh);
  transition: ease-out 0.5s;
}
.burger-menu-active{
  top: 0;
  right: 0;
}
.burger-menu-right{
  right: -100%;
  top: 0;
}
@media screen and (min-width: 769px) {
  .burger-menu{
    display: none;
  }
}