@import "../modulesScss/variables";

.header {
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
  @include place-center;
  @include all-padding;
  @include size(100%, 70px);
  position: relative;
  justify-content: space-between;
}

.logo-link {
  @include place-center;
  text-decoration: none;
  font-weight: bold;
}

.header__logo img {
  @include size(55px, 55px);
}

.header__logo p {
  font-size: 36px;
  color: $icon-color;
  padding-top: 8px;
}

.header__login-register button {
  padding: 13px 25px;
}

.button-sign-up {
  @include button-basic;
  background: $icon-color;
  color: $white;
  border: none;
}

.button-sign-up:hover {
  background: $white;
  color: $icon-color;
  border: 1px solid $border-grey;
}

.button-log-in, .button-log-out {
  @include button-basic;
  color: $icon-color;
  border: 1px solid $border-grey;
  margin-left: 30px;
}

.button-log-in:hover, .button-log-out:hover {
  background: $icon-color;
  color: $white;
}

.header__menu {
  display: flex;
}

.header__menu a {
  text-decoration: none;
  margin-right: 30px;
}

.header__login-register {
  display: flex;
}

.mobile-button {
  display: none;
}

.side-bar__links-menu > .nick-name{
  font-weight: 600;
  color: $main-blue;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 10px;
    height: 50px;
  }

  .header__logo img {
    @include size(40px, 35px);
  }

  .header__logo p {
    font-size: 25px;
  }

  .mobile-button {
    display: block;
    cursor: pointer;
    z-index: 10;
  }

  .header__menu a {
    margin-top: 20px;
  }
  .header .header__login-register {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .header {
    padding: 0 20px;
  }
  .header__menu a {
    margin-right: 15px;
  }
}