@import "./src/components/modulesScss/variables";
.content-account-page{
    display: flex;
}
.icon-menu{
    @include size(20px, 20px);
    position: absolute;
    color: $main-icon;
}
.content-account-page__links-menu{
    position: relative;
    cursor: pointer;
}
.content-account-page__link{
    padding-left: 25px;
}
